<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
    </handlers>
    <defaultDocument enabled="false" />
    <rewrite>
      <rules>
        <!-- Static Assets in static/ or public/ directories -->
        <rule name="StaticAssets" stopProcessing="true">
          <match url="^(static|public)/.*" />
          <action type="Rewrite" url="{R:0}"/>
        </rule>
        <!-- All other requests route to node app.js -->
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="app.js"/>
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
    <iisnode
      nodeProcessCommandLine="node.exe"
      maxConcurrentRequestsPerProcess="1024"
      watchedFiles="web.config;app.js;*.js"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
      devErrorsEnabled="false"
      flushResponse="true"
      enableXFF="true" />
  </system.webServer>
</configuration>
